<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css"> 
        -->
    <title>Document</title>
</head>

<body>

    <header id="header" class="header">
        <a href="" class="logo">GEC-Rajkot Chapter</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="menu" id="menu">
            <li><a href="">Home</a></li>
            <li><a href="">Mision</a></li>
            <li><a href="">Vision</a></li>
        </ul>

    </header>
    <section class="banner">
        <img src="image/logo.png" class="banner-img" alt="" width="500px">

        <div class="banner-content">
            <a href="" class="head">GEC-Rajkot Chapter</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="" class="join">Register Now <i class="fas fa-chevron-right"></i></a>
        </div>
    </section>

    <section class="vision">
        <img src="image/Vision.jpg" class="vision-img" alt="">

        <div class="vision-content">
            <h1><a href="" class="vision-head">Vision</a></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo enim dolores
                quasi quisquam veritatis voluptatem quas, debitis asperiores praesentium
                a reiciendis ab, ipsum placeat! Fugiat deleniti repellendus voluptatem
                debitis quos!. </p>
        </div>
    </section>
    <section class="sidebar-section">
        <div class="slider owl-carousel">
            <div class="card">
                <div class="img"><img src="image/harsh_Rathod.png" alt=""></div>
                <div class="content">
                    <div class="title"> Haresh Rathod</div>
                    <div class="sub-title">Faclty advisor</div>
                    <div class="btn">
                        <button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                        <button><i class="fa fa-github" aria-hidden="true"></i></button>
                        <button><i class="fa fa-instagram" aria-hidden="true"></i></button>
                        <button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="image/Jeet_Patel.png" alt=""></div>
                <div class="content">
                    <div class="title">Jeet Patel</div>
                    <div class="sub-title">President</div>
                    <div class="btn">
                        <button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                        <button><i class="fa fa-github" aria-hidden="true"></i></button>
                        <button><i class="fa fa-instagram" aria-hidden="true"></i></button>
                        <button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="image/Harshil_kaneriya.png" alt=""></div>
                <div class="content">
                    <div class="title">Harshil Kaneriya </div>
                    <div class="sub-title">Event Lead</div>
                    <div class="btn">
                        <button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                        <button><i class="fa fa-github" aria-hidden="true"></i></button>
                        <button><i class="fa fa-instagram" aria-hidden="true"></i></button>
                        <button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="image/Mahima_Desani.png" alt=""></div>
                <div class="content">
                    <div class="title">Mahima Desani</div>
                    <div class="sub-title">Social Media Lead</div>
                    <div class="btn">
                        <button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                        <button><i class="fa fa-github" aria-hidden="true"></i></button>
                        <button><i class="fa fa-instagram" aria-hidden="true"></i></button>
                        <button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="image/Prince_makavana.png" alt=""></div>
                <div class="content">
                    <div class="title">Prince Makavana</div>
                    <div class="sub-title">CP Lead</div>
                    <div class="btn">
                        <button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                        <button><i class="fa fa-github" aria-hidden="true"></i></button>
                        <button><i class="fa fa-instagram" aria-hidden="true"></i></button>
                        <button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mission">
        
        <div class="mission-content">
            <h1><a href="" class="mission-head">Mission</a></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo enim dolores
                quasi quisquam veritatis voluptatem quas, debitis asperiores praesentium
                a reiciendis ab, ipsum placeat! Fugiat deleniti repellendus voluptatem
                debitis quos!. </p>
            </div>
            <img src="image/mission.png" class="mission-img" alt="">
    </section>

    <div class="footer">
        <footer>
            <div class="container">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sapiente repudiandae minima nam quia nemo consectetur
                        modi inventore culpa! Molestias voluptate ipsam distinctio
                        tempora porro ipsa commodi cumque ipsum ducimus consectetur.
                    </p>
                    <ul class="sei">
                        <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="sec quickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="">Codechef</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Contect</a></li>
                        <li><a href="">Contest</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Register</a></li>
                    </ul>
                </div>
                <div class="sec contact">
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <span>647 Linda Street <br> Phonixville , PA 12345, <br> USA</span>
                        </li>

                        <li>
                            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <p><a href="tel:+91 9510825809">+91 9510825809</a><br><a href="tel:+91 9510825809">+91
                                    9510825809</a></p>
                        </li>

                        <li>
                            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <p><a href="mailto:princemakavana61@gmial.com">princemakavana61@gmial.com</a></p>
                        </li>

                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <div class="copyrightText">
        <p>Copyright © 2020 Goverment Enginnering Collage - Rajkot. All Rights Reserved </p>

    </div>
</body>
<script>

    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("stick", window.scrollY > 0);
    })

    function myFunction() {
        var x = document.getElementById("menu");
        if (x.className === "menu") {
            x.className += " responsive";
        } else {
            x.className = "menu";
        }
    }

    $(".slider").owlCarousel({
        margin: 10,
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        responsive: {
            1: {
                items: 1, nav: false
            },
            800: {
                items: 2, nav: false
            },
            1000: {
                items: 3, nav: false
            }
        }
    });

</script>

</html>
